.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 3.25em;
  list-style: none;
  position: relative;
  z-index: 3;

  padding: 1.875rem 0;
  background-color: rgba(0, 0, 0, 0.5);

  .navbar__item {
    font-family: Futura PT;
     font-style: normal;
     font-weight: 450;
     line-height: normal;
     font-size: 1.125rem;
  }

  .navbar__link {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in;

    &:hover {
      color: #E4392A;
    }
  }
}