.rules {
  display: flex;
  flex-direction: column;
  row-gap: 1.85rem;
  padding-top: 2.375rem;

  .rules__text {
    max-width: 90%;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
    margin: 0 auto;

    @media screen and (max-width: 822px) {
      max-width: 60%;
    }
    @media screen and (max-width: 526px) {
      font-size: 1.5rem;
      max-width: 95%;
    }
  }

  .rules__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0.6875rem 2.875rem;
    background-color: #E4392A;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in;

    font-size: 1.125rem;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    margin: 0 auto 5rem;
    @media screen and (max-width: 526px) {
      margin: 0 auto 3.75rem;
    }


    &:hover {
      background-color: black;
    }
  }
}